<div class="container">
    <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center">
        <div flex="80" layout="column">
            <md-card class="card-info" ng-if="servicesInactive.displayInfos">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Informations : </span>
                        <span class="md-subhead">Vous pourrez retrouver ici vos événements archivés.</span>
                        <span class="md-subhead">Les événements sont considérés commme archivés si vous les avez vous même archivés ou si la date de l'événement est dépassée.</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end">
                    <md-button ng-click="servicesInactive.closeInfos()">J'ai compris !</md-button>
                </md-card-actions>
            </md-card>
            <md-card ng-repeat="service in servicesInactive.services | orderBy: '-creationDate'">
                <md-card-title>
                    <md-card-title-media>
                        <img class="md-media-sm card-media" ng-src="{{service.icon}}"/>
                    </md-card-title-media>
                    <md-card-title-text>
                        <span class="md-headline">{{service.title}}</span>
                        <span class="md-subhead">{{service.description | limitTo : 55}} {{service.description.length > 55 ? '...' : ''}}</span>
                    </md-card-title-text>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-fab-speed-dial md-open="service.isOpen" md-direction="left" class="md-scale"
                                           ng-mouseenter="service.isOpen=true" ng-mouseleave="service.isOpen=false">
                            <md-fab-trigger>
                                <md-button aria-label="menu" class="md-fab md-primary md-hue-2">
                                    <md-icon class="material-icons">menu</md-icon>
                                    <md-tooltip>Menu</md-tooltip>
                                </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>
                                <md-button class="md-icon-button" aria-label="restore" ng-click="servicesInactive.restore(service)">
                                    <md-icon class="material-icons">restore_page</md-icon>
                                    <md-tooltip>Restaurer</md-tooltip>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="delete"
                                           ng-click="servicesInactive.showConfirm($event,service._id)">
                                    <md-icon class="material-icons">delete</md-icon>
                                    <md-tooltip>Supprimer</md-tooltip>
                                </md-button>
                                <edit-service-button service="service"></edit-service-button>
                                <md-button class="md-icon-button" aria-label="Details"
                                           ui-sref="detailsService({ serviceId: service._id })">
                                    <md-icon class="material-icons">description</md-icon>
                                    <md-tooltip>Détails</md-tooltip>
                                </md-button>
                            </md-fab-actions>
                        </md-fab-speed-dial>
                    </md-card-actions>
                </md-card-title>
            </md-card>
            <md-card class="card-info" ng-if="(servicesInactive.services).length <= 0">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Vous n'avez pas de services archivés</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </md-content>
</div>