<div class="container">
    <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center">
        <div flex="80" layout="column">
            <md-card ng-repeat="event in eventsActive.events">
                <md-card-title>
                    <md-card-title-media>
                        <img class="md-media-sm card-media" ng-src="{{event.icon}}"/>
                    </md-card-title-media>
                    <md-card-title-text>
                        <span class="md-headline">{{event.title}}</span>
                        <span class="md-subhead">{{event.description}}</span>
                    </md-card-title-text>
                    <md-card-actions layout="row" layout-align="end center">
                        <details-event-button event="event"></details-event-button>
                        <edit-event-button event="event"></edit-event-button>
                        <md-button class="md-icon-button" aria-label="delete" ng-click="eventsActive.showConfirm($event,event._id)">
                            <md-icon class="material-icons">delete</md-icon>
                            <md-tooltip>Supprimer</md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="store" ng-click="eventsActive.store(event._id)">
                            <md-icon class="material-icons">archive</md-icon>
                            <md-tooltip>Archiver</md-tooltip>
                        </md-button>
                    </md-card-actions>
                </md-card-title>
            </md-card>
        </div>
    </md-content>
    <p ng-if="(eventsActive.events).length <= 0">
        Vous n'avez pas d'événements actifs
    </p>
</div>