<div class="container">
    <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center">
        <div flex="80" layout="column">
            <md-card ng-repeat="event in eventsActive.events">
                <md-card-title>
                    <md-card-title-media>
                        <img class="md-media-sm card-media" ng-src="{{event.icon}}"/>
                    </md-card-title-media>
                    <md-card-title-text>
                        <span class="md-headline">{{event.title}}</span>
                        <span class="md-subhead">{{event.description}}</span>
                    </md-card-title-text>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-fab-speed-dial md-open="event.isOpen" md-direction="left" class="md-scale"
                                           ng-mouseenter="event.isOpen=true" ng-mouseleave="event.isOpen=false">
                            <md-fab-trigger>
                                <md-button aria-label="menu" class="md-fab md-primary md-hue-2">
                                    <md-icon class="material-icons">menu</md-icon>
                                    <md-tooltip>Menu</md-tooltip>
                                </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>
                                <md-button class="md-icon-button" aria-label="store" ng-click="eventsActive.store(event._id)">
                                    <md-icon class="material-icons">archive</md-icon>
                                    <md-tooltip>Archiver</md-tooltip>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="delete" ng-click="eventsActive.showConfirm($event,event._id)">
                                    <md-icon class="material-icons">delete</md-icon>
                                    <md-tooltip>Supprimer</md-tooltip>
                                </md-button>
                                <edit-event-button event="event"></edit-event-button>
                                <details-event-button event="event"></details-event-button>
                            </md-fab-actions>
                        </md-fab-speed-dial>
                    </md-card-actions>
                </md-card-title>
            </md-card>
            <md-card class="card-info" ng-if="(eventsActive.events).length <= 0">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Vous n'avez pas d'événements actifs</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </md-content>
</div>