<div class="container">
    <md-button class="md-fab md-primary btn-event" aria-label="Ajouter un évènement" ui-sref="addEvent.theme">
        <md-icon  class="material-icons">add</md-icon>
    </md-button>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card ng-repeat="event in userEvents.events">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{event.title}}</span>
                        <span class="md-subhead">{{event.description}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="Details" ui-sref="detailsEvent({ eventId: event._id })">
                        <md-icon class="material-icons">menu</md-icon>
                        <md-tooltip>Détails</md-tooltip>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>