<div flex>
    <md-content>
        <div layout="column" layout-align="center center">
            <div> <br/> <img class="md-media-md card-media" ng-src="/img/event_md.png"></div>
            <div> <br/> <span class="md-headline">MES EVENEMENTS</span></div>
        </div>
        <md-button class="md-fab md-primary btn-event" aria-label="Ajouter un évènement" ui-sref="addEvent.theme">
            <md-icon  class="material-icons">add</md-icon>
        </md-button>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Actifs">
                <events-active></events-active>
            </md-tab>
            <md-tab label="Archivés">
                <events-inactive></events-inactive>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
