<div flex>
    <md-content>
        <h3>Mes événements</h3>
        <md-button class="md-fab md-primary btn-event" aria-label="Ajouter un évènement" ui-sref="addEvent.theme">
            <md-icon  class="material-icons">add</md-icon>
        </md-button>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Actifs">
                <events-active></events-active>
            </md-tab>
            <md-tab label="Archivés">
                <events-inactive></events-inactive>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
