<div class="container">
    <md-card>
        <md-card-title class="md-padding"  layout-align="center center" flex>
            <md-card-title-media layout="column" layout-align="center center">
                <img class="md-media-md card-media" ng-src="/img/service.png">
                <br/>
                <span class="md-headline">TOUS LES SERVICES</span>
            </md-card-title-media>
        </md-card-title>
        <md-divider></md-divider>
        <md-card-content class="md-padding" layout="row" layout-align="space-around" flex>
            <md-input-container class="md-block">
                <label>Thème</label>
                <md-select ng-model="listServices.theme" md-on-close="listServices.subtheme = ''">
                    <md-option ng-repeat="theme in listServices.themes" ng-value="theme.key">{{theme.description}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Type du service</label>
                <md-select ng-model="listServices.subtheme" ng-disabled="!listServices.theme">
                    <md-option ng-repeat="subtheme in listServices.subThemes" ng-value="subtheme.key">{{subtheme.description}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Recherche</label>
                <input type="text" ng-model="listServices.searchText"/>
            </md-input-container>
            <div>
                <md-button ng-click="listServices.clear()" class="md-raised">Réinitialiser recherche</md-button>
            </div>
        </md-card-content>
    </md-card>

    <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center">
        <div flex="80" layout="column">
            <md-card ng-repeat="service in listServices.services | filter:{theme: listServices.theme, subtheme:listServices.subtheme} | orderBy: '-creationDate'">
            <md-card-title>
                    <md-card-title-media>
                        <img class="md-media-sm card-media" ng-src="{{service.icon}}"/>
                    </md-card-title-media>
                    <md-card-title-text>
                        <span class="md-headline">{{service.title}}</span>
                        <span class="md-subhead">{{service.description | limitTo : 80}} {{service.description.length > 80 ? '...' : ''}}</span>
                    </md-card-title-text>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-icon-button" aria-label="Details" ui-sref="detailsService({ serviceId: service._id })">
                            <md-icon class="material-icons">menu</md-icon>
                            <md-tooltip>Détails</md-tooltip>
                        </md-button>
                    </md-card-actions>
                </md-card-title>
            </md-card>
            <md-card class="card-info" ng-if="(listServices.services | filter:{theme: listServices.theme, subtheme:listServices.subtheme}).length <= 0">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline text-align-center">Il n'existe pas de services</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </md-content>

</div>