<div class="container">
    <h3>Tout les évènements</h3>
    <ul>
        <li ng-repeat="theme in listEvents.themes">
            <p>{{theme.key}}</p>
            <p>{{theme.description}}</p>
            <ul>
                <li ng-repeat="subtheme in theme.subthemes">
                    <p>{{subtheme.key}}</p>
                    <p>{{subtheme.description}}</p>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="container">
    <ul>
        <li ng-repeat="event in listEvents.events">
            <p>{{event.title}}</p>
            <p>{{event.description}}</p>
        </li>
    </ul>
</div>