<div flex="60" class="container" layout="row" layout-align="center center">
   <md-card layout-align="center center">
        <md-toolbar>
            <h3 class="md-toolbar-tools">
                <span> Bienvenu(e), {{home.currentUser.profile.firstName}} {{home.currentUser.profile.lastName}}</span>
            </h3>
        </md-toolbar>
       <md-card-title>
           <md-card-title-media>
               <img class="md-media-lg card-media" ng-src="/img/ubet_lg.png">
           </md-card-title-media>
       </md-card-title>
       <md-card-content>
           <br/>
           <p align="center"> L'échange de services et la communication autour des évènements deviennent enfin faciles grâce à UBET (Université de Bordeaux Evènements et Troc). </p>
           <p align="center">Le site d'entraide entre les membres de l'université de Bordeaux (Etudiants, corps professoral et équipe administrative).</p>
           <md-divider></md-divider>
       </md-card-content>
           <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
               <md-button class="md-primary" ui-sref="infos">
                   Mon profil
                   <md-icon  class="material-icons nav">account_circle</md-icon>
               </md-button>
           </section>
   </md-card>
</div>

<div layout="row" layout-align="center" layout-wrap>
        <div flex = "50">
            <md-card>
                <md-toolbar>
                    <h3 class="md-toolbar-tools">
                        <span>Services les plus récents </span>
                        <span flex></span>
                        <md-card-actions>
                            <md-button class="md-icon-button" ui-sref="addService.theme">
                                <md-icon class="material-icons">add_circle</md-icon>
                                <md-tooltip>Nouveau Service</md-tooltip>
                            </md-button>
                        </md-card-actions>
                    </h3>
                </md-toolbar>
                <md-content>
                    <md-list>
                        <md-list-item class="md-3-line list-home" ng-repeat="service in home.services | orderBy: '-creationDate' " ng-if="$index < 5">
                            <div class="md-list-item-text container" layout="row">
                                <img ng-src="{{ service.icon }}" class="md-avatar" alt="{{service.title}}"/>
                                <md-content class="home width-home" layout="row">
                                    <div layout="row" layout-align="space-between center" class="width-home">
                                        <div>
                                            <md-content layout="column">
                                                <h3>{{service.title}}</h3>
                                                <p>{{service.description | limitTo : 50}} {{service.description.length > 50 ? '...' : ''}}</p>
                                            </md-content>
                                        </div>
                                        <div>
                                            <md-card-actions>
                                                <md-button class="md-icon-button" aria-label="Details" ui-sref="detailsService({ serviceId: service._id })">
                                                    <md-icon class="material-icons">open_in_new</md-icon>
                                                    <md-tooltip>Lire la suite</md-tooltip>
                                                </md-button>
                                            </md-card-actions>
                                        </div>
                                    </div>
                                </md-content>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
                <md-divider></md-divider>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button class="md-primary" ui-sref="listServices">Plus ></md-button>
                    <md-tooltip>Tous les services</md-tooltip>
                </section>
            </md-card>
        </div>

        <div flex = "50">
                <md-card>
                    <md-toolbar>
                        <h3 class="md-toolbar-tools">
                            <span>Evènements les plus récents </span>
                            <span flex></span>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-icon-button" ui-sref="addEvent.theme">
                                    <md-icon class="material-icons">add_circle</md-icon>
                                    <md-tooltip>Nouvel évènement</md-tooltip>
                                </md-button>
                            </md-card-actions>
                        </h3>
                    </md-toolbar>
                    <md-content>
                        <md-list>
                            <md-list-item class="md-3-line list-home" ng-repeat="event in home.events | orderBy: 'date' " ng-if="$index < 5">
                                <div class="md-list-item-text container" layout="row">
                                    <img ng-src="{{ event.icon }}" class="md-avatar" alt="{{event.title}}"/>
                                    <md-content class="home width-home" layout="row" >
                                        <div layout="row" layout-align="space-between center" class="width-home">
                                            <div>
                                                <md-content layout="column">
                                                    <h3>{{event.title}}</h3>
                                                    <p>{{event.description | limitTo : 50}} {{event.description.length > 50 ? '...' : ''}} </p>
                                                </md-content>
                                            </div>
                                            <span flex></span>
                                            <details-event-button event="event"></details-event-button>
                                            <like-button identifiant="event._id"></like-button>

                                        </div>
                                    </md-content>
                                </div>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-content>
                    <md-divider ></md-divider>
                    <section layout="row" layout-sm="column" layout-align="center center">
                        <md-button class="md-primary" ui-sref="listEvents"> Plus > </md-button>
                        <md-tooltip>Tous les évènements</md-tooltip>
                    </section>
                </md-card>
        </div>
</div>
