md-content
  {
  .home{
      margin-top : 0 !important;
  }
  img{
    width : 160px;
    height : 145px;
    margin-bottom : 10px;
  }

  p{
    font-weight: bold;
    font-size : 17px;
    color : white;
  }
}

.list-home{
  margin-left : auto;
  margin-right : auto;
}

.width-home{
  width: 100%;
}

.mdcardcolor{
  background-color: #EEEEEE;
}

html {
   margin:0 !important;
   padding:0 !important;
   background: url(/img/fond.jpeg) no-repeat center fixed!important;
   -webkit-background-size: cover!important; /* pour anciens Chrome et Safari */
   background-size: cover!important; /* version standardisée */
 }

body{
  background : none!important;
}

.transparence{
  opacity : 0.95;
}

.test{
  margin-bottom : 70px;
}