<div class="form-horizontal">
    <div class="form-group">
        <label class="col-md-1 control-label">Titre* </label>
        <div class="col-md-2">
            <input class="form-control" type="text" placeholder="Titre" ng-model="addService.newService.title" required>
        </div>
    </div>
    <!--div class="form-group">
        <label class="col-md-1 control-label">Service* </label>
        <div class="col-md-2">
            <select class="form-control" ng-required="true">
                <option ng-repeat="service in userServices">{{service.subtheme}}</option>
            </select>
        </div>
    </div-->
    <div class="form-group">
        <label class="col-md-1 control-label">Sous thème* </label>
        <div class="col-md-2">
            <input class="form-control" type="text" placeholder="Sous thème" ng-model="addService.newService.subtheme" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">Adresse* </label>
        <div class="col-md-2">
            <input class="form-control" type="text" placeholder="Address" ng-model="addService.newService.address" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">Code postal* </label>
        <div class="col-md-2">
            <input class="form-control" type="number" placeholder="Code postal" ng-model="addService.newService.zipCode" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">Ville* </label>
        <div class="col-md-2">
            <input class="form-control" type="text" placeholder="Ville" ng-model="addService.newService.city" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">Description* </label>
        <div class="col-md-2">
            <textarea class="form-control" rows="5" placeholder="Description de votre service..." ng-model="addService.newService.description" required></textarea>
            <p>* En soignat votre annonce vous augmentez vos chances d'être compris</p>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label><input type="checkbox" value="">Je ne voudrai pas que mon numéro de téléphone soit affiché dans l'annonce</label>
        </div>
    </div>
    <!--button class="btn" ng-click="addService.submit()">Valider</button-->
    <div class="form-group row">
        <div class="col-xs-6 col-xs-offset-3">
            <a ui-sref="addService.resume" class="btn btn-block btn-info">
                Etape suivante <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </div>
</div>