<div class="text-left">
    <h2>{{addService.newService.title}}</h2>
    <h3>Thème : {{addService.themeSelected.description}}</h3>
    <h4>Type du service :</h4>
    <p>{{addService.subThemeSelected.description}}</p>
    <h4>Description :</h4>
    <p>{{addService.newService.description}}</p>
    <h4>Adresse :</h4>
    <p>{{addService.newService.address}}</p>
    <h4>Contact :</h4>
    <p>{{addService.newService.owner}}</p>
    <p>{{addService.currentUser.profile.firstName}}</p>
    <p>{{addService.currentUser.profile.lastName}}</p>
    <p ng-show="addService.newService.showPhone">{{addService.currentUser.profile.phone}}</p>
    <button type="submit" class="btn btn-success" ng-click="addService.submit()">Publier</button>
    <div class="form-group row">
        <div class="col-xs-5 col-xs-offset-3">
            <a ui-sref="addService.form" class="btn btn-block btn-info">
                <span class="glyphicon glyphicon-circle-arrow-left"></span> Etape précédente
            </a>
        </div>
    </div>
</div>