<label class="choice">Choisissez le thème de votre service</label>
<div layout="column" layout-align="center center">
    <md-radio-group ng-model="addService.newService.theme " class="md-primary" layout="row"
                    layout-align="center center">
        <md-card ng-repeat="theme in addService.themes | limitTo : 4" layout-align="center center"
                 class="service">
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <img ng-src="{{theme.icon}}" class="md-card-image img-card" alt="thumb">
                </div>
            </md-card-title-media>
            <md-card-title class="card-title">
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">{{theme.description}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions>
                <md-radio-button ng-value="theme.key"></md-radio-button>
            </md-card-actions>
        </md-card>
    </md-radio-group>
    <md-radio-group ng-model="addService.newService.theme " class="md-primary" layout="row"
                    layout-align="center center">
        <md-card ng-repeat="theme in addService.themes | limitTo : 4 : 4"
                 layout-align="center center" class="service">
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <img ng-src="{{theme.icon}}" class="md-card-image img-card" alt="thumb" >
                </div>
            </md-card-title-media>
            <md-card-title class="card-title">
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">{{theme.description}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions>
                <md-radio-button ng-value="theme.key"></md-radio-button>
            </md-card-actions>
        </md-card>
    </md-radio-group>
    <md-button ui-sref="addService.form" class="md-raised" ng-disabled="!addService.newService.theme"
               layout-align="center center">
        Etape suivante <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </md-button>

</div>
