<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

<div id="register-page" class="container">
    <div class="col s4 z-depth-6 card-panel">
            <div class="register-screen">
            <div class="row">
            <div class="input-field col s12 center">
            <img src="https://image.freepik.com/free-icon/user-male-shape-in-a-circle--ios-7-interface-symbol_318-39025.png" alt="blabla" height="128" width="128">
            </div>
            </div>

            <form class="form-register" method="post" name="register" novalidate>
                            
                            <div class="input-field col s6">
                                    <i class="mdi-social-group prefix"></i>
                                    <input id="civilite" class="form-control" type="text" placeholder="Civilité" ng-model="" required>
                            </div>
                            <!-- Liste déroulante Civilité
                            <div class="md-padding col s6" ng-app=name>
                                <md-input-container>
                                <label>Civilité</label>                                
                                <md-select ng-model="civilite" required>
                                    <md-option value="Madame">Mme.</md-option>
                                    <md-option value="Monsieur">M.</md-option>
                                </md-select>
                                </md-input-container>    
                                <p>Hello {{civilite}} Kaimane.</p>
                            </div>
                            -->
                            <div class="input-field col s6">
                                    <i class="mdi-action-perm-identity prefix"></i>
                                    <input id="prenom" class="form-control" type="text" ng-model="register.credentials.firstName" required>
                                    <label for="prenom">Prénom</label>
                            </div>

                            <div class="input-field col s6">
                                    <i class="mdi-social-person prefix"></i>
                                    <input id="nom" class="form-control" type="text" ng-model="register.credentials.lastName" required>
                                    <label for="nom">Nom</label>                                        
                            </div>

                            <div class="input-field col s6">
                                    <i class="mdi-content-mail prefix"></i>
                                    <input id="email" class="form-control" type="email" ng-model="register.credentials.email" required>
                                    <label for="email">Email</label> 
                            </div>

                            <p class="alert alert-danger" ng-show="form-register.email.$error.email">Le format de votre adresse email est invalide.</p>

                            <div class="input-field col s6">
                                    <i class="mdi-communication-phone prefix"></i>
                                    <input id="telephone" class="form-control" type="tel" ng-model="register.credentials.phone">
                                     <label for="telephone">Téléphone</label> 
                            </div>

                            <div class="input-field col s6">
                                    <i class="mdi-action-account-balance prefix"></i>
                                    <input class="form-control" type="text" placeholder="Campus" ng-model="register.credentials.campus">
                            </div>

                            <div class="input-field col s6">
                                    <i class="mdi-action-lock-outline prefix"></i>
                                    <input id="password" class="form-control" type="password" ng-model="register.credentials.password" required>
                                    <label for="password">Mot de passe</label>
                            </div>

                            <p class="alert alert-danger" ng-show="form-register.password.$error.minlength || form.password.$invalid">Votre mot de passe doit contenir au moins 6 caract&egrave;res.</p>

                            <div class="space-top text-center center">
                                    <button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
                                    <i class="material-icons left">done</i> Valider
                                    </button>
                                    <button type="button" class="waves-effect waves-light btn cancel">
                                    <i class="material-icons left">clear</i>Annuler
                                    </button>
                            </div>

                     </form>
            </div>
    </div>
</div>