<div flex-xs flex-gt-xs="70" layout="column" class="container margin-top">
    <md-card >
        <md-toolbar layout="row"  layout-align="start center">
                <img class="md-avatar-icon-title" ng-src="/img/user-icon.png" >
            <div layout="column" style="">
                <md-title class="md-title">{{consultService.getOwner() | displayNameFilter}}</md-title>
                <md-subhead class="md-subhead">{{consultService.service.creationDate | date:'dd/MM/yyyy'}}</md-subhead>
            </div>
        </md-toolbar>
        
        <div layout="row" layout-align="space-between start">
            <div layout="column">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{consultService.service.title}}</span>
                </md-card-title-text>
            </md-card-title>       
            <md-card-content>
                <p><b>Thème: </b>{{consultService.getTheme().description}}</p>
                <p><b>Type de service: </b>{{consultService.getSubTheme().description}}</p>
                <p ng-show="consultService.service.date"><b>Date: </b>{{consultService.service.date | date:'dd/MM/yyyy'}}</p>
                <p ng-show="consultService.service.showPhone"><b>Tel: </b>{{consultService.getOwner().profile.phone}}</p>
                <p><b>Email: </b>{{consultService.getOwner().emails[0].address}}</p>
                <p><b>Adresse: </b> {{consultService.service.address}}, {{consultService.service.zipCode}} {{consultService.service.city}}.</p>
                <p><b>Description: </b>{{consultService.service.description}}</p>
            </md-card-content>
            </div>
            <md-card-media>
                <img class="md-media-lg card-media-thumb-service"
                    ng-src="{{consultService.service.image}}">
            </md-card-media>
        </div>
        
    </md-card>
</div>