<div class="container">
    <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center">
        <div flex="80" layout="column">
            <md-card ng-repeat="service in servicesActive.services">
                <md-card-title>
                    <md-card-title-media>
                        <img class="md-media-sm card-media" ng-src="{{service.icon}}"/>
                    </md-card-title-media>
                    <md-card-title-text>
                        <span class="md-headline">{{service.title}}</span>
                        <span class="md-subhead">{{service.description}}</span>
                    </md-card-title-text>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-fab-speed-dial md-open="service.isOpen" md-direction="left" class="md-scale"
                                           ng-mouseenter="service.isOpen=true" ng-mouseleave="service.isOpen=false">
                            <md-fab-trigger>
                                <md-button aria-label="menu" class="md-fab md-primary md-hue-2">
                                    <md-icon class="material-icons">menu</md-icon>
                                    <md-tooltip>Menu</md-tooltip>
                                </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>
                                <md-button class="md-icon-button" aria-label="store" ng-click="servicesActive.store(service._id)">
                                    <md-icon class="material-icons">archive</md-icon>
                                    <md-tooltip>Archiver</md-tooltip>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="delete"
                                           ng-click="servicesActive.showConfirm($event,service._id)">
                                    <md-icon class="material-icons">delete</md-icon>
                                    <md-tooltip>Supprimer</md-tooltip>
                                </md-button>
                                <edit-service-button service="service"></edit-service-button>
                                <md-button class="md-icon-button" aria-label="Details"
                                           ui-sref="detailsService({ serviceId: service._id })">
                                    <md-icon class="material-icons">description</md-icon>
                                    <md-tooltip>Détails</md-tooltip>
                                </md-button>
                            </md-fab-actions>
                        </md-fab-speed-dial>
                    </md-card-actions>
                </md-card-title>
            </md-card>
        </div>
    </md-content>
    <p ng-if="(servicesActive.events).length <= 0">
        Vous n'avez pas de services actifs
    </p>
</div>