<div layout="column" flex id="content" role="main">
    <md-content layout="vertical" flex id="content">
        <div layout="row" layout-align="center center" layout-fill>
            <md-whiteframe class="md-whiteframe-z1" layout="column" flex="50" layout-padding>
                <md-content>
                    <h2>{{detailsService.service.title}}</h2>
                    <label>Thème : {{detailsService.getTheme().description}}</label>
                    <label>Type de service : {{detailsService.getSubTheme().description}}</label>
                    <label>Date : {{detailsSercice.service.date | date:'dd-MM-yyyy'}}</label>
                    <label>Description : {{detailsService.service.description}}</label>
                    <label>Créateur : {{detailsService.getOwner().profile.lastName}}</label>
                    <md-button ng-show="detailsService.isOwner()">Modifier</md-button>
                </md-content>
                <img src="http://www.stephenson-etudes.fr/sites/default/files/etudes/bricolage_1.jpg" class="md-card-image">
            </md-whiteframe>
        </div>
    </md-content>
</div>
<request-form service="detailsService.service" ng-hide="detailsService.isOwner()"></request-form>
<request-response service="detailsService.service" ng-show="detailsService.isOwner()"></request-response>