<div flex>
    <md-content>
        <h3>Détails du service</h3>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Détails">
                <consult-service service="detailsService.service"></consult-service>
            </md-tab>
            <md-tab label="Faire une proposition" ng-if="!detailsService.isOwner() && detailsService.serviceActive()">
                <request-form service="detailsService.service" ></request-form>
            </md-tab>
            <md-tab label="{{detailsService.nbRequestsOnWait()}}" ng-if="detailsService.isOwner() && detailsService.serviceActive()">
                <request-response service="detailsService.service"></request-response>
            </md-tab>
        </md-tabs>
    </md-content>
    <md-button class="md-fab md-primary btn-event" aria-label="Retour" ng-click="detailsService.back()">
        <md-icon  class="material-icons">replay</md-icon>
    </md-button>
</div>