<div class="form-horizontal">

    <ng-md-icon icon="person" size="100"></ng-md-icon>

    <div class="form-group">
        <label class="col-md-1 control-label">Email</label>
        <div class="col-md-2">
            <input class="form-control" type="email" placeholder="Email" ng-model="login.credentials.email" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">Mot de passe</label>
        <div class="col-md-2">
            <input class="form-control" type="password" placeholder="Mot de passe" ng-model="login.credentials.password"
                   required>
        </div>
    </div>
    <div class="col-md-offset-1 col-md-2">
        <button class="btn" ng-click="login.login()">Se connecter</button>
    </div>

    <button class="btn" ui-sref="register">S'enregistrer</button>
</div>