<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div layout="column" flex id="content" role="main">
    <md-content class="login" layout="vertical" flex id="content">

        <div layout="row" layout-align="center center" layout-fill>

            <md-whiteframe class="md-whiteframe-z1" layout="column" flex="30" layout-padding>

                <md-content >
                    <div layout="row" layout-align="center">
                        <img src="https://image.freepik.com/free-icon/user-male-shape-in-a-circle--ios-7-interface-symbol_318-39025.png" alt="blabla" height="128" width="128">
                    </div>

                    <div layout-gt-sm="row">
                        <i class="material-icons md-light md-36 md-margin">email</i>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label for="email" data-error="wrong" data-success="right" class="center-align">Email</label>
                            <input class="form-control validate" id="email"  type="email"  ng-model="login.credentials.email" required>
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <i class="material-icons md-light md-36 md-margin" >lock_outline</i>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label for="password">Mot de passe</label>
                            <input class="form-control" id="password" type="password" ng-model="login.credentials.password"
                                   required>
                        </md-input-container>
                    </div>


                    <div layout="row" layout-align="center">
                        <md-button class="md-raised" ng-click="login.login()" ng-disabled="!login.credentials.email || !login.credentials.password">Se connecter</md-button>
                    </div>
             

                    <div layout="row" class="margin-top" layout-align="center center">
                        <p flex="70" >
                            Vous n'avez pas encore de compte ?
                            <a ui-sref="register" layout-align="start">Enregistrez vous !</a>
                        </p>
                    </div>
                </md-content>
            </md-whiteframe>
        </div>

    </md-content>
</div>



