<label>Choisissez le thème de votre évènement :</label>
<!--
<div layout="row" style="margin-top: 10px;">
    <md-input-container style="margin-right: 10px;">
        <label>Thème</label>
        <md-select ng-model="addEvent.newEvent.theme">
            <md-option ng-repeat="theme in addEvent.themes" ng-value="theme._id">{{theme.description}}</md-option>
        </md-select>
    </md-input-container>
</div>
<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="addEvent.form" class="btn btn-block btn-info" ng-disabled="!addEvent.newEvent.theme">
            Etape suivante <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>

-->
<div layout="column" layout-align="center center">
<md-radio-group ng-model="addEvent.newEvent.theme" class="md-primary" layout="row" layout-align="center center">
<md-card ng-repeat="theme in addEvent.themes" ng-value="theme._id" flex="25" layout-align="center center">
          <md-card-title-media>
                    <div class="md-media-sm card-media">
                        <img ng-src="https://cdn0.iconfinder.com/data/icons/sports-android-l-lollipop-icon-pack/24/exercise-512.png" class="md-card-image" alt="thumb">
                    </div>
                </md-card-title-media>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">{{theme.description}}</span>
                </md-card-title-text>
              </md-card-title>
          <md-card-actions>
              <md-radio-button ng-value="theme._id"></md-radio-button>     
          </md-card-actions>
</md-card>
</md-radio-group>
<md-button ui-sref="addEvent.form" class="btn btn-primary" ng-disabled="!addEvent.newEvent.theme" flex="33" layout-align="center center">
    Etape suivante <span class="glyphicon glyphicon-circle-arrow-right"></span>
</md-button>
</div>
