<div flex-xs flex-gt-xs="70" layout="column" class="container margin-top">
    <md-card ng-repeat="request in requestResponse.requests | filter:{onWait: true, serviceId: requestResponse.service._id}">
        <md-toolbar layout="row"  layout-align="start center">
            <img class="md-avatar-icon-title" ng-src="/img/user-icon.png" >
            <md-title class="md-title">{{requestResponse.getRequestOwner(request.owner) | displayNameFilter}}</md-title>
        </md-toolbar>
        <md-divider></md-divider>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{request.title}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p ng-show="request.theme"><b>Thème : </b>{{requestResponse.getTheme(request.theme).description}}</p>
            <p ng-show="request.subtheme"><b>Type de service : </b>{{requestResponse.getSubTheme(request.subtheme, request.theme).description}}</p>
            <p><b>Description : </b>{{request.description}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center">
            <md-button class="md-raised button-ok" aria-label="Accept" ng-click="requestResponse.accept(requestResponse.service._id, request._id, request.owner)">
                <span class="glyphicon glyphicon-ok"></span>    Accepter
            </md-button>
            <md-button class="md-raised button-refuse" aria-label="Decline" ng-click="requestResponse.decline(request._id)">
                <span class="glyphicon glyphicon-remove "></span>  Refuser
            </md-button>
        </md-card-actions>
    </md-card>
    <md-card class="card-info" ng-if="(requestResponse.requests | filter:{onWait: true, serviceId: requestResponse.service._id}).length <= 0">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline text-align-center">Vous n'avez pas de propositions pour ce service</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>
