<div class="container">
    <md-button class="md-fab md-primary" aria-label="Ajouter un service" ui-sref="addService.theme" style="position: fixed; right: 15px; bottom: 15px;">
        <md-icon  class="material-icons">add</md-icon>
    </md-button>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card ng-repeat="service in userServices.services">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{service.title}}</span>
                        <span class="md-subhead">{{service.description}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Détails</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>