<div flex>
    <md-content>
        <h3>Mes services</h3>
        <md-button class="md-fab md-primary btn-event" aria-label="Ajouter un service" ui-sref="addService.theme">
            <md-icon  class="material-icons">add</md-icon>
        </md-button>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Actifs">
                <services-active></services-active>
            </md-tab>
            <md-tab label="Archivés">
                <services-inactive></services-inactive>
            </md-tab>
        </md-tabs>
    </md-content>
</div>