<div class="container">
    <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center">
        <div flex="80" layout="column">
            <md-card ng-repeat="event in userLikes.events | likedEventsFilter:userLikes.currentUser">
                <md-card-title>
                    <md-card-title-media>
                        <img class="md-media-sm card-media" ng-src="{{event.icon}}"/>
                    </md-card-title-media>
                    <md-card-title-text>
                        <span class="md-headline">{{event.title}}</span>
                        <span class="md-subhead">{{event.description}}</span>
                    </md-card-title-text>
                    <md-card-actions layout="row" layout-align="end center">
                        <details-event-button event="event"></details-event-button>
                        <like-button identifiant="event._id"></like-button>
                    </md-card-actions>
                </md-card-title>
            </md-card>
        </div>
    </md-content>
    <p ng-if="(userLikes.events | likedEventsFilter:userLikes.currentUser).length <= 0">
        Vous n'avez pas encore aimé d'évènements
    </p>
</div>