.navigation{

  height : 120px;
  width : 100%;

}

md-list-item > md-icon:first-child:not(.md-avatar-icon){

  margin-top : 10px!important;
  margin-right : 15px!important;

}

md-content{
  margin-top : 10px;
}

md-icon.nav{
  margin-left : 35px!important;
}

