<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="fluid-container navigation">
    <md-toolbar>
        <div class="md-toolbar-tools" data-ng-show="navigation.showMobileMainHeader">
            <md-button class="md-icon-button" aria-label="Side Panel" ng-click="navigation.openSideNavPanel()" ng-show="navigation.isLoggedIn">
                <md-tooltip>Menu</md-tooltip>
                <i class="material-icons">list</i>
            </md-button>
            <h2>
                <span>UBET</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Home" ui-sref="home" ng-show="navigation.isLoggedIn">
                <md-tooltip>Home</md-tooltip>
                <md-icon class="material-icons">home</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="User" ui-sref="infos" ng-show="navigation.isLoggedIn">
                <md-tooltip>Mon Compte</md-tooltip>
                <md-icon class="material-icons">face</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Logout" ng-click="navigation.logout()" ng-show="navigation.isLoggedIn">
                <md-tooltip>Déconnexion</md-tooltip>
                <md-icon class="material-icons">power_settings_new</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2"
                md-component-id="left">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <h2>
                    <span>Menu</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="navigation.closeSideNavPanel()">
                    <md-tooltip>Close Menu</md-tooltip>
                    <md-icon  class="material-icons">&#xE5CD;</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item>
                    <md-icon  class="material-icons">home</md-icon>
                    <md-button ui-sref="home">Accueil</md-button>
                </md-list-item>
            </md-list>
            <md-divider></md-divider>
        </md-content>
        <md-list>
            <md-subheader class="md-no-sticky">Services</md-subheader>
            <md-list-item>
                <md-icon  class="material-icons">publish</md-icon>
                <md-button ui-sref="userServices">Mes services</md-button>
                <div class="md-secondary">2</div>
            </md-list-item>
            <md-list-item>
                <md-icon  class="material-icons">supervisor_account</md-icon>
                <md-button ui-sref="listServices">Tous les services</md-button>
                <div class="md-secondary">20+</div>
            </md-list-item>

            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Événements</md-subheader>
            <md-list-item>
                <md-icon  class="material-icons">&#xE878;</md-icon>
                <md-button ui-sref="userEvents">Mes événements</md-button>
                <div class="md-secondary">2</div>
            </md-list-item>
            <md-list-item>
                <md-icon  class="material-icons">view_list</md-icon>
                <md-button ui-sref="listEvents">Tous les évenements</md-button>
                <div class="md-secondary">20+</div>
            </md-list-item>
        </md-list>
    </md-sidenav>

    
</div>



