 .alert-dismissible .close {
  right: 0px !important;
}

 .alert-dismissible{padding-right : 0px;}

 .close {font-size : 15px;}

 .alert{padding : 4px;}


.md-button.md-raise{
   color : lawngreen;
   width : 400px;
   font-size: 16px;
 }


 .dialogdemoBasicUsage #popupContainer {
   position: relative; }
 .dialogdemoBasicUsage .footer {
   width: 100%;
   text-align: center;
   margin-left: 20px; }
 .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
   font-size: 0.8em;
   margin-top: 50px; }
 .dialogdemoBasicUsage button {
   width: 200px; }
 .dialogdemoBasicUsage div#status {
   color: #c60008; }

